name: release

on:
  workflow_run:
    workflows: [ test ]
    branches: [ master ]
    types: [ completed ]

env:
  NODE_ENV: test

jobs:
  release:
    timeout-minutes: 5

    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    outputs:
      published: ${{ steps.release.outputs.published }}
      version: ${{ steps.release.outputs.release-version }}

    steps:
      - uses: actions/checkout@v2
      - id: release
        uses: ahmadnassri/action-semantic-release@v1
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  mirror:
    needs: release

    timeout-minutes: 5

    runs-on: ubuntu-latest

    if: needs.release.outputs.published == 'true'

    steps:
      - uses: actions/checkout@v2
      - name: publish to github registry
        run: |
          npm version --no-git-tag-version v${{ needs.release.outputs.version }}
          npm publish --registry=https://npm.pkg.github.com
